---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-equals-default,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-identifier-naming,
  cppcoreguidelines-*',
  -readability-convert-member-functions-to-static,
  -readability-named-parameter,
WarningsAsErrors: '*'
HeaderFilterRegex: '.'
AnalyzeTemporaryDtors: false
FormatStyle: 'file'